manifest {
    name            = 'tpall/aftekas'
    author          = """Taavi Päll"""
    homePage        = 'https://github.com/tpall/aftekas'
    description     = """Minimal metagenomic analysis workflow using slurm array"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.2'
    version         = 'v0.1.dev'
    doi             = ''
}

plugins {
  id 'nf-schema@2.6.1'
}

includeConfig 'conf/modules.config'
includeConfig 'conf/base.config'
workflow.output.mode = 'copy'

params {

    container_engine = 'docker' 
    singularity_pull_docker_container = true
    enable_conda = false

    input = 'samples.csv'
    outdir = 'results'
    
    reads_minlength = 15
    fastp_save_trimmed_fail = false
    fastp_qualified_quality = 15
    fastp_cut_mean_quality = 15
    fastp_trim_polyg = false
    fastp_dedup = false

    phix_accession = 'NC_001422.1'
    phix_reference = null
    host_index_url = 'https://objectstorage.uk-london-1.oraclecloud.com/n/lrbvkel2wjot/b/human-genome-bucket/o/human-t2t-hla.argos-bacteria-985_rs-viral-202401_ml-phage-202401.tar'
    host_fasta_url = 'https://objectstorage.uk-london-1.oraclecloud.com/n/lrbvkel2wjot/b/human-genome-bucket/o/human-t2t-hla.argos-bacteria-985_rs-viral-202401_ml-phage-202401.fa.gz'

    gtdbtk_db = 'databases/release220/'
    checkm2_db = 'databases/CheckM2_database/uniref100.KO.1.dmnd'

}
