manifest {
    name = 'mini-MAG-slurm'
    author = 'Taavi P'
    version = '0.0.1'
    description = 'A Nextflow pipeline for processing and assembling metagenome samples.'
}

includeConfig 'conf/modules.config'
includeConfig 'conf/base.config'
workflow.output.mode = 'copy'

params {

    container_engine = "docker"  // Options: 'docker' or 'singularity'
    singularity_pull_docker_container = true
    enable_conda = false

    outdir = "results"

    input = "samples.csv"
    phix_accession = "NC_001422.1"
    // host_index_url = "https://objectstorage.uk-london-1.oraclecloud.com/n/lrbvkel2wjot/b/human-genome-bucket/o/human-t2t-hla.argos-bacteria-985_rs-viral-202401_ml-phage-202401.tar"
    host_index_url = "/Users/taavi/Projects/databases/human-t2t-hla.argos-bacteria-985_rs-viral-202401_ml-phage-202401.tar"
    // host_fasta_url = "https://objectstorage.uk-london-1.oraclecloud.com/n/lrbvkel2wjot/b/human-genome-bucket/o/human-t2t-hla.argos-bacteria-985_rs-viral-202401_ml-phage-202401.fa.gz"
    host_fasta_url = "/Users/taavi/Projects/databases/human-t2t-hla.argos-bacteria-985_rs-viral-202401_ml-phage-202401.fa"
    // fastp params 
    fastp_save_trimmed_fail = false
    gtdbtk_database = "~/databases/release220"
    hmmer_pfam_db = "${HOME}/databases/release220/markers/pfam/Pfam-A.hmm"
    hmmer_tigrfam_db = "${HOME}/databases/release220/markers/tigrfam/tigrfam.hmm"

    
}
