profiles {
    
    standard {
        process.executor = 'local'
        docker.enabled = true
        process.cpus = 4
        process.memory = "4.GB"
    }

    cluster {
        
        singularity.enabled = true

        process {

            executor = 'slurm'
            queue = params.queue ?: 'main'
            errorStrategy = 'retry'
            maxRetries = 1
            
            cpus = { 4 * task.attempt }
            memory = { 8.GB * task.attempt }
            time = { 2.h * task.attempt }

            withLabel: process_small {
                cpus   = { 3 * task.attempt }
                memory = { 18.GB * task.attempt }
                time   = { 4.h * task.attempt }
            }

            withLabel: process_medium {
                cpus   = { 6 * task.attempt }
                memory = { 36.GB * task.attempt }
                time   = { 8.h * task.attempt }
            }
            
            withLabel: process_high {
                cpus   = { 12 * task.attempt }
                memory = { 72.GB * task.attempt }
                time   = { 24.h * task.attempt }
            }

            withName: 'PREPROCESS:.*|ASSEMBLY:.*' { 
                array = params.array_size  
                }
    }
}
}
