process {
    withName: REMOVE_HOST {
        ext.prefix = { "${meta.id}_host" } 
  }
    withName: REMOVE_PHIX {
        ext.prefix = { "${meta.id}_phix" } 
        }

    withName: MEGAHIT {
        ext.prefix = { "MEGAHIT_${meta.id}" } 
        }

    withName: PILEUP_MEGAHIT {
        ext.prefix = { "MEGAHIT_${meta.id}" }
        }

    withName: PRODIGAL {
        ext.prefix = { "MEGAHIT_PRODIGAL_${meta.id}" }
        ext.args = { "-p meta" }
    }

    withName: GET_ABUN {
        ext.prefix = { "${meta.id}_depths" }
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: CONCOCT {
        ext.prefix = { "MEGAHIT_CONCOCT_${meta.id}" }
    }

    withName: METABAT2 {
        ext.prefix = { "MEGAHIT_METABAT2_${meta.id}" }
    }

    withName: MAXBIN2 {
        ext.prefix = { "MEGAHIT_MAXBIN2_${meta.id}" }
    }

    withName: VAMB_BIN {
        ext.prefix = { "MEGAHIT_VAMB_${meta.id}" }
        ext.args = { "-m 1000 --minfasta 50000" }
    }

    withName: HMMSEARCH_PFAM {
        ext.prefix = { "${meta.id}_pfam" }
        ext.args = { "--noali --notextw --cut_nc" }
    }

    withName: HMMSEARCH_TIGRFAM {
        ext.prefix = { "${meta.id}_tigrfam" }
        ext.args = { "--noali --notextw --cut_nc" }
    }

}
