process {
    withName: REMOVE_HOST {
        ext.prefix = { "${meta.id}_host" } 
  }
    withName: REMOVE_PHIX {
        ext.prefix = { "${meta.id}_phix" } 
        }

    withName: MEGAHIT {
        ext.prefix = { "${meta.id}_MEGAHIT" } 
        }

    withName: PILEUP_MEGAHIT {
        ext.prefix = { "${meta.id}_MEGAHIT" }
        }

    withName: PRODIGAL {
        ext.prefix = { "${meta.id}_prodigal" }
        ext.args = { "-p meta" }
    }

    withName: GET_ABUN {
        ext.prefix = { "${meta.id}_depths" }
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: CUTUPFASTA {
        ext.prefix = { "${meta.id}_contigs_10K" }
        ext.args = { "-b 10000 -o 0 --merge_last" }
    }

}
