process {
    
    withName: QC_RAW {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_raw" }
    }

    withName: FASTP {
         ext.args   = { [
            "-q ${params.fastp_qualified_quality}",
            "--cut_front",
            "--cut_tail",
            "--cut_mean_quality ${params.fastp_cut_mean_quality}",
            "--length_required ${params.reads_minlength}",
            params.fastp_trim_polyg ? "--trim_poly_g" : '',
            params.fastp_dedup ? "--dedup" : ''
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_fastp" }
    }

    withName: REMOVE_HOST {
        ext.prefix = { "${meta.id}_host_removed" } 
    }

    withName: REMOVE_PHIX {
        ext.prefix = { "${meta.id}_phix_removed" }
    }

    withName: QC_PREPROC {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_preproc" }
    }

    withName: MEGAHIT {
        ext.prefix = { "MEGAHIT_${meta.id}" } 
    }

    withName: METAQUAST {
        ext.args = { "--rna-finding --max-ref-number 0" }
    }

    withName: PILEUP {
        ext.prefix = { "MEGAHIT_${meta.id}" }
    }

    withName: PRODIGAL {
        ext.prefix = { "MEGAHIT_PRODIGAL_${meta.id}" }
        ext.args = { "-p meta" }
    }

    withName: GET_ABUN {
        ext.prefix = { "${meta.id}_depths" }
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "MEGAHIT_${meta.id}_sorted" }
    }

    withName: CONCOCT {
        ext.prefix = { "MEGAHIT_CONCOCT_${meta.id}" }
    }

    withName: METABAT2 {
        ext.prefix = { "MEGAHIT_METABAT2_${meta.id}" }
    }

    withName: MAXBIN2 {
        ext.prefix = { "MEGAHIT_MAXBIN2_${meta.id}" }
    }

    withName: VAMB_BIN {
        ext.prefix = { "MEGAHIT_VAMB_${meta.id}" }
        ext.args = { "-m 1000 --minfasta 50000" }
    }

    withName: CLASSIFY {
        ext.args = { "--skip_ani_screen --extension gz" }
    }

}
