report_comment: >
  This is still work in progress.
report_section_order:
  "nf-core-mag-methods-description":
    order: -1000
  software_versions:
    order: -1001
  "nf-core-mag-summary":
    order: -1002

export_plots: true

disable_version_detection: true
data_format: "yaml"

run_modules:
  - fastqc
  - fastp
  - custom_content
  - bowtie2
  - quast
  - checkm2
  - gtdbtk

## Module order
top_modules:
  - "fastqc":
      name: "FastQC: raw reads"
      path_filters:
        - "*raw*"
  - "fastp"
  - "fastqc":
      name: "FastQC: after preprocessing"
      info: "After trimming and, if requested, contamination removal."
      path_filters:
        - "*preproc*"
  - "bowtie2":
      name: "Bowtie2: PhiX removal"
      info: "Mapping statistics of reads mapped against PhiX and subsequently removed."
      path_filters:
        - "*_phix_removed.bowtie2.log"
  - "bowtie2":
      name: "Bowtie2: host removal"
      info: "Mapping statistics of reads mapped against host genome and subsequently
        removed."
      path_filters:
        - "*_host_removed.bowtie2.log"
  - "quast":
      name: "QUAST: assembly"
      info: "Assembly statistics of raw assemblies."
      path_filters:
        - "*.tsv"
  - "checkm2"
  - "gtdbtk"

custom_data:
  host_removal:
    file_format: "tsv"
    section_name: "Bowtie 2: host read removal"
    description: "Reads are mapped against the host reference sequence. Only reads
      that do not align (concordantly) are kept for further analysis."
    plot_type: "bargraph"
    pconfig:
      id: "host_removal_bargraph"
      title: "Bowtie 2: reads mapped against host reference"
      ylab: "# Reads"

## Sample name cleaning
sp:
  host_removal:
    fn: "host_removal_metrics.tsv"
  quast:
    fn: "report*.tsv"


## File name cleaning
extra_fn_clean_exts:
  - ".bowtie2"
  - "host_removed"
  - "phix_removed"
  - "_fastp"

## General Stats customisation
table_columns_visible:
  "FastQC: raw reads":
    avg_sequence_length: true
  "FastQC: after preprocessing":
    avg_sequence_length: true
  "fastp":
    pct_duplication: false
    after_filtering_q30_rate: false
    after_filtering_q30_bases: false
    filtering_result_passed_filter_reads: 3300
    after_filtering_gc_content: false
    pct_surviving: true
    pct_adapter: true
  "QUAST: assembly":
    N75: true
    L50: true
    L75: true
    "Largest contig": true
    "Total length": true
    N50: true
  "Bowtie2: assembly": false
  "CheckM2": false
  "GTDB-Tk": false

table_columns_placement:
  "FastQC: raw reads":
    percent_duplicates: 1000
    percent_gc: 1100
    avg_sequence_length: 1200
    median_sequence_length: 1300
    total_sequences: 1400
    percent_fails: 1500
  "FastQC: after preprocessing":
    percent_duplicates: 2000
    percent_gc: 2100
    avg_sequence_length: 2200
    median_sequence_length: 2300
    total_sequences: 2400
    percent_fails: 2500
  "fastp":
    pct_duplication: 3000
    after_filtering_q30_rate: 3100
    after_filtering_q30_bases: 3200
    filtering_result_passed_filter_reads: 3300
    after_filtering_gc_content: 3400
    pct_surviving: 3500
    pct_adapter: 3600
  "Bowtie2: PhiX removal":
    overall_alignment_rate: 5000
  "Bowtie2: host removal":
    overall_alignment_rate: 6000
  "QUAST: assembly":
    "N50": 10000
    "Total length": 11000
  CheckM2:
    "Completeness": 14000
    "Contamination": 14100
    "Genome_Size": 14200
  "GTDB-Tk":
    "classification": 24000

table_columns_name:
  "FastQC: raw reads":
    percent_duplicates: "% Dups (raw)"
    percent_gc: "% GC (raw)"
    avg_sequence_length: "Avg. length (raw)"
    median_sequence_length: "Median length (raw)"
    total_sequences: "M Seqs (raw)"
    percent_fails: "% Fails (raw)"
  "FastQC: after preprocessing":
    percent_duplicates: "% Dups (processed)"
    percent_gc: "% GC (processed)"
    avg_sequence_length: "Avg. length (processed)"
    median_sequence_length: "Median length (processed)"
    total_sequences: "M Seqs (processed)"
    percent_fails: "% Fails (processed)"
  "Bowtie2: PhiX removal":
    overall_alignment_rate: "% Aligned (PhiX)"
  "Bowtie2: host removal":
    overall_alignment_rate: "% Aligned (Host)"
  "Bowtie2: assembly":
    overall_alignment_rate: "% Aligned (Assem.)"

custom_table_header_config:
  general_stats_table:
    "Total length":
      hidden: true
    N50:
      hidden: true
